body{
    background-image: url(img/up.jpeg);
}
.container{
    display: flex;
    width: 100%;
    margin: auto;
    height: 800px;
}
a{
    font-size: 50px;
    color: white;
    text-decoration: none;
}

#prev{
    width: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#next{
    width:10%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#page{
    width:80%;
    border: 3px solid #784B25;
    background-image: url(img/brownpaper.png);
    background-position: center;
    background-repeat: no-repeat;
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.grid-container div{
    border: 3px solid black;
}
#coverpage{
    width:80%;
    border: 3px solid #784B25;
    background-image: url(img/bookcover.png);
    background-position: center;
    background-repeat: no-repeat;
}
#backgroundsky{
    background-image: url(img/upsky.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#backgroundadventure{
    background-image: url(img/upadventure.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tilt{
    padding-top:50%;
    padding-left: 30%;
    
}
video{
    padding-top: 50%;
}
var vid = document.getElementById("myVideo");

function playVid(dancing.mov) {
    vid.play();
    vid.pause(japanese.mov);
}

function pauseVid() {
    vid.pause();
}

/*figure out how to make video stop/pause when you click another video*/