body{
    background-color: #D3BEAC;
    background-image: url(img/up.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a{
    font-size: 50px;
    color: white;
    text-decoration: none;
}

p{
    font-family: 'Gochi Hand', cursive;
    background-color: bisque;
    text-align: center;
  }
h1{
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    padding-top: 10px;
}
h2{
    font-family: 'Gochi Hand', cursive;
    text-align: left;
}
h3{
    font-family: 'Gochi Hand', cursive;
    text-align: right;
}
#backgroundsky{
    background-image: url(img/upsky.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#backgroundadventure{
    background-image: url(img/upadventure.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    width: 100%;
    margin: auto;
    height: 800px;
    justify-content: center;
    align-items: center;
}

#prev{
    width: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#next{
    width:10%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#page{
    width:800px;
    height: 616px;
    border: 3px solid #784B25;
    background-image: url(img/brownpaper.png);
    background-position: center;
    background-repeat: no-repeat;
}

.grid-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10%;
    padding-top: 10%;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 240px;
    height: 311px;
    align-items: center;
    padding-top: 20%;
    padding-left: 20px;
  }
  
  #one {
    background-image: url(img/coveredohio.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    transition: .5s;
    width: 240px;
    height: 311px;
  }
  
  #one:hover {
    background-image: url(img/ohio.JPG);
    transition: .5s;
    width: 240px;
    height: 311px;
  }
  
  #two{
    background-image: url(img/coverednewyork.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    transition: .5s;
    width: 240px;
    height: 311px;
  }
  #two:hover{
    background-image: url(img/newyork.png);
    transition: .5s;
    width: 240px;
    height: 311px;
  }
  
  #three{
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s;
    width: 240px;
    height: 311px;
  }
  #four {
    background-image: url(img/coveredevan.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    transition: .5s;
    width: 240px;
    height: 311px;
  }
  
  #four:hover {
    background-image: url(img/evan.png);
    transition: .5s;
    width: 240px;
    height: 311px;
  }
  #hawaii{
    width: 240px;
    height: 311px;
  }